<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Add Recipe</title>
</head>
<body>

    <div style="margin: 150px;">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="recipe_title">Recipe Title</label>
              <input type="text" class="form-control" name="recipe_title" id="recipe_title" placeholder="Enter Recipe Title">
            </div><br>

            <div class="form-group">
              <label for="recipe_description">Description</label>
              <input type="text" class="form-control" name="recipe_description" id="recipe_description" placeholder="Enter Recipe Description">
            </div><br>

            <div class="form-group">
                <label for="recipe_ingredients">Ingredients</label>
                <textarea class="form-control" name="recipe_ingredients" id="recipe_ingredients" rows="5" placeholder="Enter Recipe Ingredients"></textarea>
            </div><br>

            <div class="form-group">
                <label for="recipe_instructions">Instructions</label>
                <textarea class="form-control" name="recipe_instructions" id="recipe_instructions" rows="5" placeholder="Enter Recipe Instructions"></textarea>
            </div><br>

            <div class="form-group">
                <label for="recipe_prep_time">Preparation Time (in minutes)</label>
                <input type="number" class="form-control" name="recipe_prep_time" id="recipe_prep_time" placeholder="Enter Preparation Time">
            </div><br>

            <div class="form-group">
                <label for="recipe_cook_time">Cooking Time (in minutes)</label>
                <input type="number" class="form-control" name="recipe_cook_time" id="recipe_cook_time" placeholder="Enter Cooking Time">
            </div><br>

            <div class="form-group">
                <label for="recipe_servings">Servings</label>
                <input type="number" class="form-control" name="recipe_servings" id="recipe_servings" placeholder="Enter Number of Servings">
            </div><br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>
